
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
#surface {
    margin: auto;
}
#surfaceCanvas {
    box-shadow: 1px 2px 7px 1px #0000003d;;
    /* background-color:#05226b; */
    background-color: #eeecf1;
    /* width: 100%; */

}

body {
    background-image: url('../public/images/game-bg.jpeg');
    font-family: 'Luckiest Guy', cursive;

    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder; */
}
.drone-control-btn {
    color: #ffffff !important;
    text-shadow: 1px 1px 3px #785b02 !important;
}
/* #6f42c1; */
/* purple #6b0564 */
#game-heading {
    text-align: center;
    color: #444 !important;
 }
 .inner-heading {
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    font-weight: 900;
    text-shadow: 1px 1px 3px #785b02;
 }
/* @media only screen and (max-width: 768px) {
    #game-heading {
       text-align: center;
       color: #444 !important;
    }
  } */